body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

form {
    width: 200px;
    margin: 20px auto;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 1em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.5em;
  padding: 0.5em;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #ddd;
}

/*img {
  max-width: 100%;
}*/

#pokemon-data {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1em;
}

.img-pokemon {
    position: relative;
    width: 180px !important;
    margin: 10px auto;
}

img.pokemon-img {
    max-width: 180px !important;
    border-radius: 50%;
}

.pokemon-card {
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid black;
}